Flask==2.3.3
Werkzeug==2.3.7
requests==2.31.0
beautifulsoup4==4.12.3
selenium==4.1.0
webdriver-manager==3.5.2
flask-sqlalchemy==2.5.1
SQLAlchemy==1.4.23
flask-caching==2.1.0
flask-limiter==3.5.0
python-dotenv==1.0.1
flask-cors==4.0.0 